<div class="form-container">
  <mat-card>
    <mat-card-title>Add Appointment</mat-card-title>
    <mat-card-content>
      <form [formGroup]="appointmentForm" (ngSubmit)="submitForm()">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" required />
            <mat-error *ngIf="appointmentForm.controls['title'].hasError('required')">
              Title is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority" required>
              <mat-option value="High">High</mat-option>
              <mat-option value="Medium">Medium</mat-option>
              <mat-option value="Low">Low</mat-option>
            </mat-select>
            <mat-error *ngIf="appointmentForm.controls['priority'].hasError('required')">
              Priority is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error *ngIf="appointmentForm.controls['description'].hasError('required')">
              Description is required if High Priority.
            </mat-error>
            <mat-error *ngIf="appointmentForm.controls['description'].hasError('prohibitedWord')">
              Description cannot have words like test,dummy
            </mat-error>
          </mat-form-field>



        </div>

        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="!appointmentForm.valid">Submit</button>
          <button mat-button mat-dialog-close>Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
