.form-container {
  padding: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mat-card-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
